@mixin margin-padding($m-direction, $m-amount, $p-direction, $p-amount) {
    @if $m-direction==all {
        margin: $m-amount;
    }

    @else {
        margin-#{$m-direction}: $m-amount;
    }

    @if $p-direction==all {
        padding: $p-amount;
    }

    @else {
        padding-#{$p-direction}: $p-amount;
    }
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: iransanse;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

@font-face {
    font-family: "iransanse";
    src: url("../fonts/IRANSansWeb.woff");
}

/* navbar section*/
.nav-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;

    .nav-brand {
        @include margin-padding(all, 0 15px, null, null);
        @include margin-padding(null, null, top, 10px);

        img {
            width: 65px;
        }
    }

    .search-wrapper {
        width: 63%;

        .input-wrapper {
            position: relative;
        }

        .input-holder {
            .input-search {
                width: 100%;
                height: 42px;
                border: none;
                background-color: #efefef;
                border-radius: 8px;
                @include margin-padding(null, null, all, 15px)
            }
        }

    }

    .top-nav {
        ul {

            display: inline-flex;
            align-items: center;


            li {
                width: 90px;
                display: inline-block;
                text-align: center;
                @include margin-padding(null, null, all, 5px 10px);
                position: relative;

                a {
                    color: #8e8e8e;
                }

                &:hover {
                    background-color: #efefef;
                    border-radius: 20px;

                }

                &:nth-child(4):hover {
                    background-color: transparent;
                }

                &:first-child a {
                    color: #000;
                }

            }

            li.user-profile {
                a {
                    @include margin-padding(null, null, left, 15px);
                }

                span {
                    position: absolute;
                    top: 5px;
                    left: 8px;

                    img {
                        width: 26px;
                        border-radius: 10px;
                    }
                }
            }

            li.comments i,
            li.notif i {
                font-size: 28px;
                vertical-align: -8px;
            }

            li.notif {
                .badge {
                    background-color: red;
                    position: absolute;
                    top: -3px;
                    right: 23px;
                    width: 20px;
                    border-radius: 100%;
                    color: #fff;
                    font-size: 12px;
                }
            }
        }
    }
}

/* end navbar section*/

.wrapper {
    @include margin-padding(null, null, all, 0 4px);
    @include margin-padding(top, 30px, null, null);

    .row-item {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
        @include margin-padding(null,null,all,0 10px);
        cursor: zoom-in;
        .overly {
            flex: 16.2%;
            max-width: 16.2%; 
            position:relative;
            @include margin-padding(bottom, 10px, null, null);
            width: 100%;
            height: 100%;
            
            .overly-item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .2);
                display: none;
                border-radius: 18px;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    height: 100%;
                    @include margin-padding(null, null, bottom, 15px);

                    i {
                        color: #000;
                        background-color: #efefef;
                        border-radius: 100%;
                        font-size: 14px;
                        padding: 10px;
                        @include margin-padding(left, 4px, null, null);

                    }

                    span {
                        background-color: #efefef;
                        @include margin-padding(null, null, all, 1px 10px) ;
                        font-size: 14px;
                        border-radius: 18px;

                        i {

                            background-color: transparent;
                            transform: rotate(45deg);
                            vertical-align: -5px;

                        }

                    }

                }

            }

            &:hover .overly-item {
                display: block;
            }

            img {
                display: flex;
                border-radius: 18px;
                width: 100%;
                
            }

            

           

        }
       
    }

}


@media  screen and (max-width:1280px) {
   
    .overly{
        flex: 24% !important;
        max-width: 24% !important;
        margin-bottom: 10px;
    }
}

@media  screen and (max-width:967px) {
   
    .overly{
        flex: 31% !important;
        max-width: 31% !important;
        margin-bottom: 10px;
    }
}

@media  screen and (max-width:800px) {
   
    .overly{
        flex: 47% !important;
        max-width: 47% !important;
        margin-bottom: 10px;
    }
}
@media  screen and (max-width:600px) {
    .overly{
        flex: 80% !important;
        max-width: 80% !important;
    }
    .top-nav ul li:nth-child(1),.top-nav ul li:nth-child(2),li.comments{
        display:none !important;
    }
   
}


